<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>배그</title>
        <meta property="og:title" content="배그 딜량" />
        <meta property="og:description" content="{{ og_description }}" />
        <meta property="og:url" content="https://battle-fast-api.onrender.com/" />
        <meta property="og:type" content="website" />
    </head>
<body>
    <h1>딜량 ㅎ</h1>
    <ul>
        {% for player in results %}
            <li>{{ loop.index }}. {{ player[0] }} - {{ '%.2f'|format(player[1]) }}</li>
        {% endfor %}
    </ul>
</body>
</html>
